NODE_ENV=development

PORT=5000
FRONTEND_URL=http://localhost:3000

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=root
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=dating_app_db

ACCESS_TOKEN_SECRET=your_ultra_secure_secret_key_that_is_at_least_32_characters_long__access
REFRESH_TOKEN_SECRET=your_ultra_secure_secret_key_that_is_at_least_32_characters_long__refresh
ACCESS_TOKEN_EXPIRE=600
REFRESH_TOKEN_EXPIRE=604800